<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8">
    <title>About</title>
  </head>

  <body>

    <div class="about-image">
    </div>

    <div class="about-header">
      <p>20 Years of Experience</p>
    </div>

    <!-- Placeholder for content -->
    <div class='imgs'>
    <div class="imgContainer">
      <img src='http://g01.a.alicdn.com/kf/HTB1gaK2IFXXXXc9XpXXq6xXFXXXy/Activity-arm-bust-female-clothing-store-props-hanger-font-b-mannequin-b-font-dummy-font-b.jpg' height="400" width="593"/>
    </div>

    <div class="imgContainer">
      <img src='http://www.beautytipsmart.com/wp-content/uploads/2015/02/African-Attire-Dresses-Designs-2015-Trends-For-Women-500x300.jpg' height="400" width="593"/>
    </div>

  </div>

  <h2 class style="margin-left:45px; margin-right:120px; margin-top:5px;">Garment Manufacturer for over 20 years</h2>

  <h2 class>Beautiful patterns and Trusted Garments</h2>

  <hr class style="float:left;margin-left:45px;">

  <hr class style= "float:right;margin-right:25px;">

  <p class="companyDescription">We make sure that the clothing products you sell are perfectly made. With over 20 years of experience, the process from concept to product is quick and seamless. High quality, luxury style, and perfectly tailored are values that we build The Prairie Trading Corp. on.</p>

  <p class="companyDescription2">Are you an established fashion company or looking to start one? Choose us to help handle your garments. Our company will save you tons of time and frustration dealing with the production side. You can ensure that your clothing will be tailored to your exact specifications and come out perfect.</p>



<footer>
  <div class= "footer-container-about">
      <p class="footer-head">Get in Touch With Us</p>

    <div class="location-contact-info">
      <img class="location-icon" src='http://images.clipartpanda.com/google-location-icon-vector-google_places_pin_icon_black_white_line_art_coloring_book_colouring-1331px.png' height="50"/>

      <img class="telephone-icon" src='http://www.taxibirminghamairport.co.uk/imgs/common/phone-white-icon.png'height='50'/>

      <img class="email-icon" src='http://www.clker.com/cliparts/l/D/d/i/6/f/email-icon-th.png'height='50'/>
      <p class="location-info">209 West 38th<br>New York, NY 10016 <p class= "telephone-info">212-921-1859 <p class="email-info">President Jane Zhu<br><p class="email-address">Prairie888@aol.com</p></p>
    </div>

  </div>

  </footer>
 </body>

</html>