<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8">
    <title>About</title>
  </head>

  <body>
    <%= javascript_include_tag('image_slider.js') %>
    <div class="about-image">
    </div>

  <div id="slider">
  <a href="#" class="control_next">>></a>
  <a href="#" class="control_prev"><</a>
  <ul>
    <li><img src="http://static1.squarespace.com/static/540d23a3e4b02ecebb661d89/5571b9aae4b074ce9e8b2f19/5571b9b0e4b074ce9e8b2f43/1433516470142/STYLE5-ANLE.jpg?format=750w" style="width:350px;height:525px;"></li>
    <li><img src="http://static1.squarespace.com/static/540d23a3e4b02ecebb661d89/5571b9aae4b074ce9e8b2f19/5571b9ace4b0a8d2bcc3e88d/1433516465221/STYLE2-ANLE.jpg?format=750w" style="width:350px;height:525px;"></li>
    <li><img src="http://www.etcetera.com/assets/uploads/lookbook/ETSP16014_a.jpg" style="width:350px;height:525px;"></li>
    <li><img src="http://www.etcetera.com/assets/uploads/lookbook/ETSP16013_a.jpg" style="width:350px;height:525px;"></li>
    <li><img src="http://www.etcetera.com/assets/uploads/lookbook/ETSU16044_a.jpg" style="width:350px;height:525px;"></li>
    <li><img src="http://www.etcetera.com/assets/uploads/lookbook/ETSU16014_a.jpg" style="width:350px;height:525px;"></li>
  </ul>
</div>
  </body>

</html>