<!-- List of pic urls
http://static1.squarespace.com/static/540d23a3e4b02ecebb661d89/5571b9aae4b074ce9e8b2f19/5571b9b0e4b074ce9e8b2f43/1433516470142/STYLE5-ANLE.jpg?format=750w

http://static1.squarespace.com/static/540d23a3e4b02ecebb661d89/5571b9aae4b074ce9e8b2f19/5571b9ace4b0a8d2bcc3e88d/1433516465221/STYLE2-ANLE.jpg?format=750w

http://static1.squarespace.com/static/540d23a3e4b02ecebb661d89/54904512e4b0cd2a4f515a4e/5490471ce4b06c1f4a963d21/1418741543748/final+3_noise.jpg?format=1500w

http://www.etcetera.com/assets/uploads/lookbook/ETSP16014_a.jpg

http://www.etcetera.com/assets/uploads/lookbook/ETSP16013_a.jpg

http://www.etcetera.com/assets/uploads/lookbook/ETSU16044_a.jpg

http://www.etcetera.com/assets/uploads/lookbook/ETSU16014_a.jpg-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset ="utf-8">
    <title>The Prairie Trading Corp.</title>
  </head>

  <body>

  <div class= "pic1">
  </div>

  <h1 class style= "text-align: center; margin-top: 40px; margin-bottom: 30px;"><p>Highest-Quality Garments</p></h1>

  <div class='imgs'>
    <div class="imgContainer" style="float:left;margin-right:50px;margin-left: 50px">
      <img src='http://g01.a.alicdn.com/kf/HTB1gaK2IFXXXXc9XpXXq6xXFXXXy/Activity-arm-bust-female-clothing-store-props-hanger-font-b-mannequin-b-font-dummy-font-b.jpg' height="400" width="593"/>
    </div>

    <div class="imgContainer" style= "float:left;margin-right:10px;">
      <img src='http://www.beautytipsmart.com/wp-content/uploads/2015/02/African-Attire-Dresses-Designs-2015-Trends-For-Women-500x300.jpg' height="400" width="593"/>
    </div>

  </div>

  <h2 class style="margin-left:50px; margin-right:140px; margin-top:5px;">Garment Manufacturer for over 20 years</h2>

  <h2 class>Beautiful patterns and Trusted Garments</h2>

  <hr class style="float:left;margin-left:50px;">

  <hr class style= "float:right;margin-right:80px;">

  <p class="companyDescription" style="margin-left:50px;margin-right:50px;">We make sure that the clothing products you sell are perfectly made. With over 20 years of experience, the process from concept to product is quick and seamless. High quality, luxury style, and perfectly tailored are values that we build The Prairie Trading Corp. on. </p>

  <p class="companyDescription">Are you an established fashion company or looking to start one? Choose us to help handle your garments. Our company will save you tons of time and frustration dealing with the production side. You can ensure that your clothing will be tailored to your exact specifications and come out perfect.</p>


  <div class="brands-info">
    <p class="brand-title">Brands We have Worked With</p>
    <p class="labels-worked">We have worked with and produced clothing for many big labels such as</p>
    <ul class="brand-list">
      <li>Sachin&amp;Babi</li>
      <li>DKNY</li>
      <li>Joan Vass</li>
      <li>Kenneth Cole</li>
      <li>Etcetera</li>
      <li>Hante Hippie</li>
    </ul>
  </div>
  <footer>
    <div class= "footer-container">
      <p class="footer-head">Get in Touch With Us</p>

    <div class="location-contact-info">
      <img class="location-icon" src='http://images.clipartpanda.com/google-location-icon-vector-google_places_pin_icon_black_white_line_art_coloring_book_colouring-1331px.png' height="50"/>

      <img class="telephone-icon" src='http://www.taxibirminghamairport.co.uk/imgs/common/phone-white-icon.png'height='50'/>

      <img class="email-icon" src='http://www.clker.com/cliparts/l/D/d/i/6/f/email-icon-th.png'height='50'/>
      <p class="location-info">209 West 38th<br>New York, NY 10016 <p class= "telephone-info">212-921-1859 <p class="email-info"><b>President</b> Jane Zhu<br><p class="email-address">Prairie888@aol.com</p></p>
    </div>

    </div>

  </footer>

  </body>
</html>