.about-image {
  background-image:url('http://static1.squarespace.com/static/540d23a3e4b02ecebb661d89/54904512e4b0cd2a4f515a4e/5490471ce4b06c1f4a963d21/1418741543748/final+3_noise.jpg?format=1500w');
  width: 1350px;
  height:600px;
  padding: 0;
  margin: 0;
}