* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

.number-head {
  width: 100%;
  height: 4em;
  margin: 0px;
  background-color: #5f5f5f;

}

#call-description {
  float: right;
  padding-right: 1em;
  color: white;
  font-size: 170%;
}

.nav-class {
  width: 100%;
  height: 8em;
  background: repeating-linear-gradient(
  45deg,
  #f2f2f2,
  #f2f2f2 2.5px,
  #e6e6e6 2.5px,
  #e6e6e6 5px
  );
}

.fm-td {
display: table-cell;
}

#logo {
vertical-align: middle;
height: 100%;
width: 100%;
}

#nav-menu {
  vertical-align: middle;
  display:table-cell;
  font-size: 150%;
  position: absolute;
  top: 100px;
  right: 20px;
}

#menu-column {
    padding-top: 30px;
    position: relative;
    padding-right: 20px;
    text-align: left;
    z-index: 10;
    margin-left: 20px;
    display: block;
}

/*Navbar-Decoration*/
a {
  font-family: 'Droid Serif', serif;
  text-decoration: none;
  color: black;
  padding: 10px;
}

a:hover {
  font-weight: bold;
}

a:visited {
  text-decoration: none;
}

/*Pictures Section*/
h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: Halant, serif;
  color: #242424;
  line-height: 1.2;
}

h2 {
  display:inline-block;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 5px;
  line-height: 1.2;
  color: black;
  font-family: Halant, serif;
}

.imgs {
  max-width: 100%;
  float:left;
}
.pic1 {
  width: 1350px;
  height: 600px;
  background-image:url('http://previews.123rf.com/images/luanateutzi/luanateutzi1406/luanateutzi140600077/29225771-Empty-rack-of-clothes-and-hangers-after-a-big-sale-Sale-sign-for-summer-clothes-on-a-clearance-rack--Stock-Photo.jpg');
  margin: 0;
  padding: 0;
}

hr {
   display: block;
   width: 593px;
   font-size: 1px;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.companyDescription {
  float:left;
  width:593px;
  word-wrap: break-word;
  font-weight: normal;
  font-family: 'Droid Serif', serif;
  color: #686767;
  font-size: 20px;
}

/*Brand-Info*/

.brands-info {
  position: relative;
  float: left;
  width: 100%;
}

.brand-title {
  margin-top: 100px;
  text-align: center;
  font-size: 200%;
  font-family: 'Halant','serif';
  line-height: 40px;
}

.labels-worked {
  font-size: 120%;
  text-align: center;
  line-height: 60px;
  color: #686767;
  font-family: 'Halant', 'serif';
}

.brand-list li {
  float:left;
  font-size: 150%;
  margin-left: 130px;
  width: 40%;
  list-style-type: disc;
  color: #686767;
}

.footer-container {
  background-color: #5f5f5f;
  margin-top: 500px;
  height: 300px;
}

.footer-head {
  text-align: center;
  font-size: 180%;
  font-family: 'Halant', 'serif';
  padding-top: 40px;
  color: white;
}

.location-icon {
  margin-left: 200px;
}

.location-info {
  display: inline;
  float: left;
  margin-left: 150px;
  color: white;
  font-family: 'Droid Serif', 'serif';
}

.telephone-icon {
  margin-left: 400px;

}

.telephone-info {
  position:relative;
  float: left;
  left: 22%;
  color: white;
  text-decoration: underline;
  font-family: 'Droid Serif', 'serif';
}
.email-icon {
  margin-left: 400px;
}

.email-info {
  position: relative;
  left: 48%;
  color: white;
  font-family: 'Droid Serif', 'serif';
}

.email-address {
  position: relative;
  left: 55%;
  color: white;
  font-family: 'Droid Serif', 'serif';
}