* {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

.number-head {
  width: 100%;
  height: 4em;
  background-color: #5f5f5f;

}

#call-description {
  float: right;
  padding-right: 1em;
  padding-top: 1em;
  color: white;
  font-size: 170%;
}

.nav-class {
  width: 100%;
  height: 8em;
  background: black;
}

.fm-td {
display: table-cell;
}

#logo {
vertical-align: middle;
height: 100%;
width: 100%;
}

#nav-menu {
  vertical-align: middle;
  display:table-cell;
  font-size: 150%;
  position: absolute;
  top: 100px;
  right: -20px;
}

#menu-column {
    padding-top: 40px;
    position: relative;
    padding-right: 0;
    text-align: left;
    z-index: 10;
    margin-left: 20px;
    display: block;
}

/*Navbar-Decoration*/
a {
  font-family: 'Droid Serif', serif;
  text-decoration: none;
  color: white;
  padding: 10px;
}

a:hover {
  font-weight: bold;
}

a:visited {
  text-decoration: none;
}

/*Pictures Section*/
.pic1 {
  background-image:url('http://i.imgur.com/6rmjKO6.jpg');
  background-position: center;
  width: 100%;
  height: 400px;
  padding: 0;
  opacity: 0.4;
}

h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: Halant, serif;
  color: #242424;
  line-height: 1.2;
}

h2 {
  display:inline-block;
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 5px;
  line-height: 1.2;
  color: black;
  font-family: Halant, serif;
}

.imgs {
  max-width: 100%;
}

.imgContainer {
  display: inline-block;
  width: 150px;
  margin-right: 471px;
}

hr {
   display: block;
   width: 593px;
   font-size: 1px;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.companyDescription {
  float: left;
  margin-left: 45px;
  margin-top: 10px;
  width:593px;
  word-wrap: break-word;
  font-weight: normal;
  font-family: 'Droid Serif', serif;
  color: #686767;
  font-size: 20px;
}

.companyDescription2 {
  float: right;
  margin-top: 10px;
  width:593px;
  word-wrap: break-word;
  font-weight: normal;
  font-family: 'Droid Serif', serif;
  color: #686767;
  font-size: 20px;
}

/*Brand-Info*/

.brands-info {
  position: relative;
  float: left;
  width: 100%;
}

.brand-title {
  margin-top: 70px;
  text-align: center;
  font-size: 200%;
  font-family: 'Halant','serif';
  line-height: 40px;
}

.labels-worked {
  font-size: 150%;
  text-align: center;
  line-height: 60px;
  color: #686767;
  font-family: 'Halant', 'serif';
}

.brand-list li {
  float:left;
  font-size: 150%;
  margin-left: 80px;
  margin-right: 45px;
  width: 40%;
  list-style-type: disc;
  color: #686767;
}

.footer-container {
  background-color: #5f5f5f;
  margin-top: 500px;
  height: 300px;
}

.footer-head {
  text-align: center;
  font-size: 180%;
  font-family: 'Halant', 'serif';
  padding-top: 40px;
  color: white;
}

.location-icon {
  margin-left: 100px;
}

.location-info {
  display: inline;
  float: left;
  margin-left: 70px;
  color: white;
  font-family: 'Droid Serif', 'serif';
}

.telephone-icon {
  margin-left: 400px;

}

.telephone-info {
  position:relative;
  float: left;
  left: 22%;
  color: white;
  text-decoration: underline;
  font-family: 'Droid Serif', 'serif';
}
.email-icon {
  margin-left: 400px;
}

.email-info {
  position: relative;
  left: 50%;
  width:45%;
  color: white;
  font-family: 'Droid Serif', 'serif';
}

.email-address {
  position: relative;
  left: 60%;
  width:45%;
  color: white;
  font-family: 'Droid Serif', 'serif';
}